@import '~bootstrap/dist/css/bootstrap.min.css';
.mainbar
{
    width: 100%;
    background-color: #d7dfe6;
    border-radius: 10px;
}
.leftbar
{
    float: left;
    background-color: #07BC81 !important;
    border-radius: 0px;
    padding: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.rightbar
{
    background-color: #8FBC8F !important;
    border-radius: 0px;
    padding: 0px;
}
::ng-deep .ui.tiny.progress .bar{
    min-width: 0
}
::ng-deep .ui.progress {
    /* height: 0.3em; */
    /* bottom: -1.1em;
    top: 30em; */
    background: #E2E2E2;
}
::ng-deep .ui.progress.blue .bar {
    background-color: #3cbbb0 !important;
}
::ng-deep .ui.progress .bar {
    height: 14px !important; 
}
/* .container {
    margin-top: -3em;
}
.progress-data {
    top: 30em;
}
.percent {
    top: 30em;
} */