.curriculum-content {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    float: left;
    padding: 6px;
}

.curriculum-content .fas {
    cursor: pointer;
}

.curriculum-content .details {
    cursor: default;
}