:root {
  --primary-color: #78df9a;
  --secondary-color: black;
  --accent-color: black;
}

html {
  height: 100%;
}

body {
  position: relative;
  background: $bg-body !important;
  font-family: inherit;
  letter-spacing: 0.2px;
  min-height: auto;
}

button,
input,
textarea,
optgroup,
select,
h1,
h2,
h3,
h4,
h5,
.ui.header,
.ui.text.container,
.ui.input input,
.ui.list .list>.item .header,
.ui.list>.item .header,
.ui.steps .step .title,
.ui.ordered.steps .step:before,
.ui.ordered.steps .step.completed:before,
.ui.message .header,
.ui.sortable.table thead th:after,
.ui.card>.content>.header,
.ui.cards>.card>.content>.header,
.ui.items>.item>.content>.header,
.ui.statistic>.value,
.ui.statistics .statistic>.value,
.ui.statistic>.label,
.ui.statistics .statistic>.label,
.ui.accordion .title:not(.ui),
.ui.checkbox label,
.ui.modal>.header,
.ui.popup>.header,
.ui.search>.results .result .title,
.ui.search>.results>.message .header,
.ui.button,
.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.menu,
.ui.dropdown,
.ui.category.search>.results .category>.name {
  font-family: inherit;
}

.ui.tiny.header .icon {
  line-height: 1;
  font-size: 0.75em;
}

.ui.pagination.menu {
  flex-wrap: wrap;
}

.ui.mini.modal.feedbackmodal.transition.visible.active {
  margin-top: -112px;
  margin-left: 40%;
  margin-top: 20%;
}

.pulse-button {
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  background-color: #E84C3D;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
::ng-deep .pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
