.e2e-iframe-untrusted-src {
    border: 1px solid #CCC;
    border-width: 1px;
    margin-bottom: 18px;
    max-width: 100%;
    width: inherit;
    height: 559px;
}


#style {
    border-radius: 50%;
    background: #451771 !important;
    color: white !important;
    border-color: #451771 !important;
     width: 40px;
     height: 40px;
     text-align: center;
     padding: 2px 2px;
     float: left;
     margin-bottom: 1rem;
  }
  .video {
    margin-left: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 76%;
    height: 46rem;
    box-shadow: 0 0.25rem 0.75rem rgba(55, 55, 39, 1);
  }