.e2e-iframe-untrusted-src {
    border: 1px solid #CCC;
    border-width: 1px;
    margin-bottom: 18px;
    max-width: 100%;
    width: inherit;
    height: 559px;
}

#style {
    border-radius: 50%;
    background: #451771 !important;
    color: white !important;
    border-color: #451771 !important;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 2px 2px;
    float: left;
    margin-bottom: 1rem;
}

video {
    margin-left: 11rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: 999;
}

button.fullscreenbtn {
    position: fixed;
    bottom: 120px;
    right: 20px;
    z-index: 9999;
    background: #451771;
    color: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: none;
    font-size: 2em;
    font-weight: bold;
    outline: none;
}

.fullscreen iframe.e2e-iframe-untrusted-src {
    height: inherit;
}