.button {
    background-color: var(--primary-color);
    color: white;
    }
    a {
    color: #686f7a !important;
    }
    .font-color {
    color: #686f7a;
    }
    .ui.card.session-card {
        margin: 3em;
        width: 90%;
    }