<div class="feedbackWrapper">
        <div *ngIf="isFeedbackPresent" class="question">
            <h4 *ngIf="feedbackDetails?.feedbackTitle">
                {{feedbackDetails.feedbackTitle}}
            </h4>
        </div>
            <div class="buttonContainer">
                    <button *ngIf="!isStarted" class="startRec" (click)="startRecording()">{{resourceService?.frmelmnts?.lbl?.startRecording || 'Start Recording'}}</button>
                    <button *ngIf="isStarted" class="stopRec" (click)="stopRecording()">{{resourceService?.frmelmnts?.lbl?.stopRecording || 'Stop'}}</button>
            </div>
</div>