.ui.modal {
    height: 22%;
}

.startRec, .stopRec {
    cursor: pointer;
    margin-left: 10px;
    width: 150px;
    height: 40.5px;
    border-radius: 0.5px;
    border-color: transparent;
}
.startRec {
    color: white;
    background-color: green;
}
.stopRec {
    color: white;
    background-color: red;
}

.question {
    margin-top: 30px;
    padding-left: 1.5rem;
}

.buttonContainer {
    margin: 30px 20px 20px 0;
    float: right;
}